<%- include('header2', {title: 'Edit Group'});%> 

<div class="container">
  <div class="row">
    <div class="col">
      <form action="/group/<%= groupDetails.id %>/edit?_method=PUT" method="POST">
        <div class="form-group">
          <label for="title">Title:</label><br />
          <input
            class="form-control"
            type="text"
            id="title"
            name="title"
            value="<%= groupDetails.title %>"
          /><br />

          <label for="date">Meeting Date:</label><br />
          <% const selectedDate = new Date(String(groupDetails.meeting_date));
          const displayDate = selectedDate.toISOString().split('T')[0];
          %> 
          <input class="form-control" type="date" id="meeting_date" name="meeting_date"
          value="<%= displayDate %>" /><br />

          <label for="meeting_time">Meeting Time:</label><br />
          <input
            class="form-control"
            type="time"
            id="meeting_time"
            name="meeting_time"
            min="11:00"
            max="14:00"
            value="<%= groupDetails.meeting_time %>"
          /><br />

          <label for="description">Description:</label><br />
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="description"
          ><%= groupDetails.description %></textarea> <br />

          <label for="venue_id">Venue:</label><br />
          <select
            class="form-control"
            id="venue_id"
            name="venue_id"
          >
          <option selected hidden value="<%= groupDetails.venue_id %>"><%= groupDetails.venue_name %></option>
            <% venuesList.forEach((element) => { %>
              <option value="<%= element.id%>"><%= element.venue_name %> </option>
            <% }); %> 
          </select><br />

          <label for="max_capacity">Max Capacity:</label><br />
          <input
            class="form-control"
            type="text"
            id="max_capacity"
            name="max_capacity"
            value="<%= groupDetails.max_capacity %>"
          /><br />

          <input class="btn btn-secondary" type="submit" value="Save Changes" /><br />
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('footer'); %> 