<%- include('header2', {title: 'My Groups'}); %> 
<div class="p-10 bg-surface-secondary mb-4">
  <div class="container">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <i class="fas fa-pizza-slice"></i><h5 class="ml-2">Upcoming Groups</h5>

      </div>
      <div class="table-responsive">
        <table class="table table-hover table-nowrap">
          <thead class="table-light thead-light">
            <tr>
              <th></th>
              <th scope="col">Date</th>
              <th scope="col">Group</th>
              <th scope="col">Venue</th>
              <th scope="col">Members</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% currentGroupData.forEach((element) => { %>
            <tr>
              <% if(element.creator_id == userProfile.userId) { %> 
                <td>
                  <i title="Group Owner" class="fas fa-crown text-warning"></i>
                </td>
              <% } else { %>
                <td></td> 
              <% }; %> 
              <td>
                <span><%= element.meeting_date %></span>
              </td>
              <td>
                <span><%= element.title %></span>
              </td>
              <td>
                <span><%= element.venue_name %></span>
              </td>
              <td><%= element.num_members%>/<%= element.max_capacity %></td>
              <td>
                <a href="/group/<%= element.id %>"><i class="fas fa-info-circle"></i></a>
              </td>
              <td>
                <% if(element.creator_id != userProfile.userId) { %>
                  <form action="/group/<%= element.id %>/leave?_method=DELETE" method="POST">
                    <button title="Leave" type="submit" class="btn btn-small"><i class="fas fa-door-open"></i></button>
                  </form>
                <% } else { %>
                    <form action="/group/<%= element.id %>/edit" method="GET">
                      <button type="submit" title="Edit" class="btn btn-small">
                        <i class="fas fa-edit"></i>
                      </button>
                    </form>
                <% }; %>
              </td>
              <% if(element.creator_id == userProfile.userId) { %>
                <td>
                  <form action="/group/<%= element.id %>/delete?_method=DELETE" method="POST">
                    <button title="Delete Group" type="submit" class="btn btn-small"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              <% } else { %>
                <td></td>
              <% }; %> 
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="p-10 bg-surface-secondary">
  <div class="container">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <i class="fas fa-history"></i>
        <h5 class="ml-2">Groups in the past</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-nowrap">
          <thead class="table-light thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Group</th>
              <th scope="col">Venue</th>
              <th scope="col">Members</th>
            </tr>
          </thead>
          <tbody>
            <% pastGroupData.forEach((element) => { %>
            <tr>
              <td>
                <span><%= element.meeting_date %></span>
              </td>
              <td>
                <span><%= element.title %></span>
              </td>
              <td>
                <span><%= element.venue_name %></span>
              </td>
              <td><%= element.num_members%>/<%= element.max_capacity %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('footer'); %>